.Highlights{
    background-color: white;
    padding-top: 3rem;
    display:grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows:  2fr 2fr;
 
}
.Section1{
    grid-row: 1/2;
    grid-column: 1/-1;
    width:60%;
    justify-self: center;
}

.Section2{
    grid-row: 2/-1;
    grid-column: 1/-1;
    width:60%;
    justify-self: center;
}
.Highlights h2{
    font-size:3.0rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 1rem;
    letter-spacing: 3px;
}
.Highlights p{
    grid-row: 1/2;
    grid-column: 1/-1;
    font-size: 1.1rem;
    padding: 2rem;
    border-top: 1px solid rgb(212, 212, 212);
    border-bottom: 1px solid rgb(212, 212, 212);
    line-height: 1.6rem;
    font-weight: 100;
    color: rgb(53, 52, 52);
}

.Special{
    grid-row: 2/3;
    grid-column: 1/2;
    display:flex;
}
.percentage{
    font-size: 3rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.percentage span{
    font-size: 6rem;
    color: red;
}

.EarlyBird{
    grid-row: 2/3;
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}
.EarlyBird h4 {
    font-size: 1.6rem;
    margin-bottom: 0;
}
.EarlyBird p {
    border: none;
}

@media screen and (max-width: 1200px) {
    .Section1, .Section2{
        width:80%;
 
    }
  
  }

@media screen and (max-width: 800px) {
    .Section1, .Section2{
        width:100%;
 
    }
    .Section1 h2{
        font-size:2.4rem;
    }
  
  }

  @media screen and (max-width: 600px) {
    .Special{
        flex-direction: column;
    }
    .Section1 h2{
        font-size:2rem;
    }
    .EarlyBird h4 {
        font-size: 1.2rem;
    }
    .percentage span{
        font-size: 4rem;
    }
    .percentage{
        font-size: 2rem;
    }
  
  }