.Items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:3px solid rgb(31, 168, 7);
    padding: 0.5rem 3rem;
    margin: 1rem;
    position: relative;
}

.Items:before {
    content: " ";
    position: absolute;
    z-index: 11;
    top: -11px;
    left: 10px;
    right: 10px;
    bottom: -12px;
    border: 3px solid green;
    padding: 0.5rem 3rem;
  }
  @media screen and (max-width: 600px){
      .Item{
          padding: 0.5rem 1rem;
      }
  }